body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.Header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 140px;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px 250px 60px 250px;
}
.Menu{
    display: flex;
}
h1{
    margin-right: auto;
    font-size: 24px;
    color:#F9FAF8;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 18px;
}
a{
    font-style: none;
}
.Introduction{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 300px;
}
img{
    border-radius: 10px;
    border: 2px solid white;
}
.Registro{
    width: 450px;
    flex-grow: 1;
}
.Main{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}
.SubText{
    color: #E5E7EB;
    font-weight: 500;
}
button{
    color:white;
    background-color: #3382f6;
    border-radius: 10px;
    padding: 10px 35px;
    font-size: 20px;
    border-style: none;
}